/* Seção geral */
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121212, #212b46);
}

.title {
    font-size: 85px;
    color: #fff;
    animation: fadeInOut 4s infinite, slideUpDown 3s infinite;
}

/* Definição da animação de desvanecimento e surgimento */
@keyframes fadeInOut {
    0% {
        color: #e0e0e0;
        /* Cor clara para contraste com fundo escuro */
    }

    50% {
        color: #00bcd4;
        /* Cor azul clara para destacar, combina com o fundo */
    }

    100% {
        color: #e0e0e0;
    }
}

/* Definição da animação de deslizar para cima e para baixo */
@keyframes slideUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}


/* Seção do input */

.container-input {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin: 34px 0px;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.container-input input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #fff;
    outline: none;
    margin-right: 8px;
}

.container-input input::placeholder {
    color: #f1f1f1;
}

/* Parte do botão */

.btnSearch {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.btnSearch:hover {
    transform: scale(1.2);
}

/* Estilizando a parte de resultado do CEP */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 500px;
    border-radius: 8px;
}

.main-container h2 {
    margin: 16px 0;
    font-size: 39px;
}

.main-container span {
    margin-bottom: 16px;
    font-weight: bold;
}

/* Responsividade */

@media (max-width: 620px) {
    .title {
        font-size: 60px;
    }

    .main-container h2 {
        font-size: 28px;
    }

    .main-container {
        width: 80%;
        min-height: 280px;
    }
}